body {
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav-inicio {
    padding:10px;
}

.navbar-brand:hover, .navbar-header:hover {
    background-color: aqua;
    /*border-radius: 10px;*/
} 

li:hover {
    background-color: aqua;
    /*
    border-radius: 50px 20px;
    */
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    
}

div.contenedor {
    height: 100vh;
    margin: 0 2% 0 2%;
}

div.cuerpo {
    display: block;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 10px;
}

.bt-submit /*, .bt-volver*/ {
    margin-top: 70px;
}

.bt-volver {
    margin-top: 2%;
}

.btn-submit {
    width:40%;
}

.tb-consulta {
    width: 60%;
    margin: 70px auto;
    background-color: #D5F2FD;
}

.text-center {
    bottom: 0;
}

.input-modificar {
    border: 0;
    border-radius: 5px;;
}

.input-modificar:focus {
    border-color: rgb(0, 204, 255);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(0, 204, 255,0.6);
    outline: 0 none;
}

.mb-4 {
    margin-top: 20px;
}

/*========================== COOKIES ==========================*/

.cookies_container {
    position: fixed;
    background: #ccc;
    opacity: 0.85;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 99;
}

.cookies {
    position: fixed;
    bottom: 20vh;
    left: 10%;
    right: 10%;
    height: 60vh;
    background: black;
    font-family: arial;
    text-align: center;
}
    
.cookies__titulo {
    font-size: 2em;
    color: white;
    margin-top: 15%;
}

.cookies__texto {
    color: white;
}

.cookies_container p {
    font-size: 1em;
}

.cookies__boton {
        background: initial;
        border: 2px solid white;
        padding: 1rem;
        font-size: 1rem;
        color: white;
        width: 5rem;
        text-align: center;
}

.cookies_container a:hover {
    color: #808;
}

.cookies__boton:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}